.heading {
	font-weight: var(--font-weight-accent);
	color: var(--color-secondary);
}

.heading-size-xl {
	font-size: var(--font-size-xl);
}

.heading-size-l {
	font-size: var(--font-size-l);
}

.heading-size-m {
	font-size: var(--font-size-m);
}

.heading-size-s {
	font-size: var(--font-size-s);
}

.heading-size-xs {
	font-size: var(--font-size-xs);
}
