.heading-size-xl {
	font-size: var(--font-size-xl);
}

.heading-size-l {
	font-size: var(--font-size-l);
}

.heading-size-m {
	font-size: var(--font-size-m);
}

.heading-size-s {
	font-size: var(--font-size-s);
}

.heading-size-xs {
	font-size: var(--font-size-xs);
}

.main {
	color: var(--color-secondary);
}

.light {
	color: var(--color-main);
}

.primary {
	color: var(--color-primary);
}

.semibold {
	font-weight: var(--font-weight-main);
}
