.card {
	padding: 30px 15px;

	border-radius: var(--border-rad-m);
	box-shadow: var(--shadow-main);
}

.main {
	background-color: var(--color-main);
}

.primary {
	background-color: var(--color-primary);
}
