@use './../../../app//styles/scss/mixins';

.button {
	padding: 15px 30px;

	font-size: var(--font-size-m);
	line-height: 1;

	border-radius: 30px;

	&:disabled {
		cursor: not-allowed;
	}
}

.primary {
	color: var(--color-main);

	background-color: var(--color-primary);
	box-shadow: var(--shadow-primary);

	&:active {
		box-shadow: none;
		transform: translateY(2px);
	}

	&:focus-visible {
		transform: translateY(-2px);
	}

	@include mixins.hover {
		background-color: var(--color-primary-hover);
	}

	&:disabled {
		background-color: var(--color-disabled);
		box-shadow: none;
	}
}

.secondary {
	color: var(--color-primary);

	background-color: var(--color-main);
	box-shadow: var(--shadow-main);

	&:active {
		box-shadow: none;
		transform: translateY(2px);
	}

	&:focus-visible {
		transform: translateY(-2px);
	}

	@include mixins.hover {
		background-color: var(--color-main-hover);
	}

	&:disabled {
		color: var(--color-main);
		background-color: var(--color-disabled);
		box-shadow: none;
	}
}

.transparent {
	color: var(--color-primary);

	border: 2px solid var(--color-primary);
	background-color: transparent;
	box-shadow: var(--shadow-primary);

	&:active {
		box-shadow: none;
		transform: translateY(2px);
	}

	&:focus-visible {
		transform: translateY(-2px);
	}

	@include mixins.hover {
		color: var(--color-main);
		background-color: var(--color-primary);
	}

	&:disabled {
		color: var(--color-disabled);

		border: 2px solid var(--color-disabled);
		background-color: transparent;
		box-shadow: none;
		transform: none;
	}
}
