@font-face {
	font-family: 'Inter 28pt';
	src: url('./../fonts/Inter28pt-SemiBold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Inter 28pt';
	src: url('./../fonts/Inter28pt-Black.woff2') format('woff2');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}
