* {
	-webkit-tap-highlight-color: transparent;
	transition: var(--transition);
}

body {
	font-family: var(--font-main);
	font-size: var(--font-size-m);
	font-weight: var(--font-weight-main);
	color: var(--color-secondary);

	background-color: var(--color-bg);
}
