:root {
	--font-main: 'Inter', 'sans-serif';
	--font-weight-main: 600;
	--font-weight-accent: 900;
	--font-size-xl: 32px;
	--font-size-l: 24px;
	--font-size-m: 16px;
	--font-size-s: 12px;
	--font-size-xs: 10px;

	--color-primary: #fe5416;
	--color-primary-hover: #e44c14;
	--color-primary-active: #d73f07;
	--color-secondary: #282839;
	--color-accent: #f9d84b;
	--color-bg: #f9f5e6;
	--color-main: #fffbeb;
	--color-main-hover: #f5f0da;
	--color-main-active: #e0dcd2;
	--color-main-dark: #d7cda8;
	--color-error: #f24968;
	--color-focus: #423dd9;
	--color-disabled: #b7b7b9;
	--color-light-gray: #d9d9d9;

	--spacing-xl: 60px;
	--spacing-l: 45px;
	--spacing-m: 30px;
	--spacing-s: 20px;
	--spacing-xs: 15px;
	--spacing-xxs: 5px;

	--border-rad-m: 30px;
	--border-rad-s: 15px;
	--border-rad-xs: 5px;

	--shadow-main: 0 4px 4px 0 rgba(215, 205, 168, 0.25);
	--shadow-primary: 0 4px 4px 0 rgba(254, 84, 22, 0.25);
	--shadow-error: 0 4px 4px 0 rgba(242, 73, 104, 0.15);
	--shadow-focus: 0 4px 4px 0 rgba(66, 61, 217, 0.15);

	--transition: all 0.2s ease-in;
}
